*   /*清除默认边距*/
{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
li
{
    list-style: none;
}
input,button{
    outline: none;
}
body 
{ 
     background-color: #f3f5f7;
}

.w
{
    width: 1200px;
    margin: 0px auto;
}

.gudingtwo
{
    right: 0px;
}


/*头部*/
.top
{
	position: relative;
    width: 1200px;
    height: 60px;
    margin: 20px auto 20px auto;
}

.top div
{
    float: left;   /*将头部所有元素浮动*/
}
/* 下移 */
.mt{
    margin-top: 9px;
}
/*头部logo*/
.logo {
    width: 195px;
    height: 60px;
    background-image: url("../../Images/飞星网首页Logo.png");
}
.logo img{
    width: 60px;
    height: 60px;
}

/*头部导航*/
.top li
{
    float: left;
    margin-left: 20px;
    line-height: 42px;
    text-align: center;
}
.top li a:hover
{
    color:  rgb(0, 164, 255);
    border-bottom: 2px solid  rgb(0, 164, 255);
}

.top li a
{
    display: block;
    padding:0px 10px;
    text-decoration: none;
    height: 42px;
    color: black;
    font-weight: normal;
    font-size: 18px;
}

.inp
{
    width: 452px;
    height: 40px;
    float: left;
    margin-left: 30px;
}
/*头部输入框*/
.inp input
{
    width: 390px;
    height: 40px;
    border: 1px solid rgb(0, 164, 255);
    border-right: 0px;
    float: left;
    font-size: 16px;
    padding-left: 10px;
}
    .inp button {
        width: 50px;
        height: 42px;
        background-image: url("../../Images/btn.png");
        /* 去掉按钮默认边框 */
        border: 0px;
    }

/*头部用户头像和名称*/
.user
{
	position: absolute;
	right: 20px;
    height: 60px;
    margin-left: 30px;
	line-height: 60px;
    position:absolute;
}

.userpho
{
	position: absolute;
	margin-top: 5px;
}
#username
{
    /* 将用户名称转换为行内元素，让他和用户头像在一行显示 */
    /* display: inline;*/
    color: black;
	margin-left: 55px;
}
/*中部导航和图片*/
.navimg {
    height: 420px;
    background-image: url("../../Images/ban4.jpg");
}


/*图片上的课程部分的盒子*/
.navimg_class
{
    width: 220px;
    height: 300px;
    float: right;  /*右浮动*/
    margin-top: 50px;
    background-color:white;
}

.navimg_class_title
{
    width: 220px;
    height: 50px;
    background-color:rgb(69, 69, 253);
}

.navimg_class_title h3
{
    color: white;
    text-align: center;
    line-height: 48px;
}

.navimg_class li
{
    width: 190px;
    height: 54px;
    border-bottom: 1px solid rgba(1, 1, 1, 0.2); 
    margin: 10px 15px;
}

.navimg_class li p
{
    font-family: "微软雅黑";
    color: rgba(1, 1, 1, 0.4);
    font-size: 13px;
}

.allclass
{
    display: block;
    width: 190px;
    height: 38px;
    border: 1px solid rgb(0, 164, 255);
    text-decoration: none;
    margin-left: 15px;
}

.allclass h4
{
    color: rgb(0, 164, 255);
    text-align: center;
    line-height:36px;
}

/*图片下方导航栏*/
.navtwo
{
    height: 60px;
    background-color: white;
    box-shadow: 0 2px 3px 3px rgba(0,0,0, 0.1);  /*盒子阴影*/
    /* 行高会继承给给孩子 */
    line-height: 20px;
    margin-top: 10px;
}

.navtwo li
{
    float: left;
    list-style: none;
    height: 20px;
    padding: 0px 30px;
    margin-top: 20px;
    font-size: 18px;
    border-left: 1px solid rgba(0,0,0, 0.3);
}

.navtwo .xg 
{
    border: none;
    float: right;
    font-size: 16px;
}

.navtwo .xg a
{
    color: rgb(25, 99, 236);
}
.navtwo .tj
{
    color: rgb(25, 99, 236);
    border: 0px;
}

.navtwo a
{
    text-decoration: none;
    color: black;
}
.navtwo a:hover{
    color:lightgray;
}

/*导航栏下方精品推荐*/
.title
{
    position: relative;
    width: 1200px;
    height: 30px;
    margin: 20px auto;
}
/* 题库标题的详情导航 */
.title_nav{
    position: absolute;
    left: 50%;
    /* 在屏幕中居中显示 */
    transform: translate(-50%);
    height: 30px;
    line-height: 30px;
    color: black;
}
.title_nav li{
    float: left;
    margin-right: 40px;
    font-size: 15px;
}
.title_nav li a{
    color: gray;
}
.title .tuijian,.all
{
    display: block;
    float: left;
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
}

.title .all
{
    float: right;
    font-weight: normal;
    font-size: 12px;
}
.title .all a
{
    color: rgba(0,0,0, 0.3);
    text-decoration: none;
}

/*主要内容*/
.neirong
{
    width: 90%;
    margin: 0px auto;
    overflow: hidden;  /*清除浮动*/
    margin-bottom:30px;
}
/* 把li的父亲ul修改的足够宽一行能装开5个盒子就不会换行了 */
.neirong ul
{
    width: 1300px;
}
.neirong li
{
    height: 200px;
    width: 229px;
    background-color: #fff;
    float: left;
    margin-top:10px;
    margin-right: 7px;
    margin-left:7px;
    margin-bottom: 15px;
    /* 给hot的父元素li加相对定位，来保证hot的位置（子绝父相） */
    position: relative;
}

.neirong li:hover{
    border:3px solid skyblue;
    box-shadow:0px 0px 5px 5px #edef13; 
}

.hot
{
    /* 给hot添加绝对定位，让hot不占用空间 （子绝父相） */
    position: absolute;
    right: 0px;
    top: 5px;
}

.neirong ul li h5
{
    text-align:center;
    margin: 20px 20px;
    font-weight: 400;
    font-size: 1.3em;
    color:skyblue;
    font-family: "微软雅黑";
    padding-bottom:20px;
    border-bottom:1px solid skyblue;
}

.neirong ul li h3 {
    text-align: left;
    margin-left: 20px;
    font-size: 1em;
    font-weight:normal;
}

.neirong ul li h2 {
    text-align: left;
    margin-top:10px;
    margin-left: 20px;
    font-size:0.8em;
    font-weight:normal;
    color:black;
}

.neirong span {
    font-size: 12px;
    color: rgba(0,0,0, 0.3);
}

.neirong .gaoji
{
    margin:0px 4px 0px 20px;
    color: rgb(252, 107, 10);
}

/*底部模块*/
.tail
{
    width: 100%;
    height: 300px;
    background-color: #fff;
}

.tailbox
{
    width: 1200px;
    height: 300px;
    margin: 0px auto;
}

.tailbox img
{
    margin: 30px 0px;
}

.tail p 
{
    font-size: 12px;
    width: 600px;
}

.tail a
{
    text-decoration: none;
    color:  rgb(0, 164, 255);
    display: block;
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid  rgb(0, 164, 255);
    margin-top: 20px;
}

.tailleft
{
    float: left;
}

.tail ul
{
    float: right;
    margin:30px 0px 0px 110px;
}

.tail li.gy
{
    font-size: 16px;
    margin-bottom: 10px;
}

.tail ul li
{
    font-size: 12px;
    margin-top: 5px;
}





